<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <%= render partial: 'layouts/admin/navbar_header' %>

  <!-- /.navbar_top_links -->


  <%= render partial: 'layouts/admin/navbar_static_side' %>
</nav>